* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #fff;
  color: #4c4c4c;
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.content-link {
  color: #263A6C;
  padding-bottom: 1px;
  border-bottom: 1px solid #98BF55;
}

.content-link:hover {
  color: #98BF55;
}

.no-link-style {
  border: none;
  color: inherit;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.wrapper-no-pad {
  max-width: 920px;
  margin: 0 auto 0 auto;
  overflow: auto;
}




/* Header and Nav */

header {
  background: #ededed;
  overflow: auto;
}

.logo {
  /*float: left;*/
}

nav {
  float: right;
  vertical-align: bottom;
}

.logo img {
  width: 205px;
  padding: 40px 0 30px 0;
}

ul.top-nav {
  list-style: none;
  margin: 0; padding: 0;
}

ul.top-nav li {
  display: inline-block;
  padding: 5px 14px;
  background: #cecece;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  min-width: 100px;
  text-align: center;
  font-size: 1.2em;
}

ul.top-nav li + li {
  margin-left: 20px;
}

ul.top-nav li:hover {
  background: white;
  color: #cecece;
}

/* Main Content */

#hero {
  position: relative;
  height: 443px;
  max-width: 920px;
  margin: 30px auto;
  background-image: url('../assets/imgs/hero.png');
}

.cta {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.cta-link {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  background: rgba(255, 255, 255, 0.72);
  padding: 10px 18px;
}

.cta-link:hover {
  color: #333;
  background: #F8D349;
}

.cta-link + .cta-link {
  margin-left: 30px;
}

#main {
  padding: 0 0 40px 0;
}

#main h2 {
  padding: 20px 0;
  font-size: 2em;
  color: #98BF55;
  text-transform: uppercase;
}

footer {
  background: #4c4c4c;
  padding: 40px;
}

.footer-link {
  display: inline-block;
  border: 1px solid #FED50C;
  padding: 6px 40px;
  text-transform: uppercase;
  background: none;
  color: #FED50C;
  font-weight: bold;
  margin-right: 18px;
  margin-bottom: 18px;
}

@media (max-width: 700px) {
  header { padding: 0; }
  .logo { display: block; float: none;}
  nav {display: block; float: none; top: 0;}
  ul.top-nav li + li { margin-left: 0; margin-top: 3px;}
  ul.top-nav li { display: block; padding: 14px;}
  .cta-link + .cta-link { margin-left: 0; margin-top: 18px;}
  .logo { padding-left: 20px; }
}
